@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>


    <p><a href="..\Home\EveResult">Eve Result</a></p>
    <p>---</p>
    <p><a href="..\Home\Cloud">Cloud</a></p>
    <p>---</p>
    <p><a href="..\Home\AddFile">AddFile</a></p>
    <p>---</p>
    <p><a href="..\Home\StartDump">Start Dump</a></p>
    <p>---</p>
    <p><a href="..\Home\CheckDumpTask">Check Dump</a></p>
    <p>---</p>
    <p><a href="..\Home\StartProfit">Start Profit</a></p>
    <p>---</p>
    <p><a href="..\Home\CheckProfitTask">Check Profit</a></p>
    <p>---</p>
    <p><a href="..\Home\MainItemTask">Main Item Task</a></p>
</div>

<div>
    <p>---</p>
    <p>---</p>
    <p>---</p>

</div>

<div>
    <h3></h3>
    <p><a href="..\Home\CancelDumpTask">Cancel Dump Task</a></p>
    <p><a href="..\Home\CancelProfitTask">Cancel Profit Task</a></p>

</div>

